<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ferhat Kirac</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="css\favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>
  <body>
<div id="wholepage">

<div id="scroll-1"></div>

<section class="header">
    <video autoplay loop class="video-background" muted plays-inline>
    <source src="css\video.mp4" type="video/mp4"
  </video>
</section>


<div class="container-fluid" id="navbar">

    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#scroll-1">FK</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/form" method="POST">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="window.open('/form');">Contact</button>
        </form>
      </div>
    </nav>
</div>


  <div class="container-fluid">
  <div class="front-face">
    <h1>Hello, I am Ferhat Kirac</h1>
    <h1>I am a full-stack web developer</h1>
    <a href="#scroll-2"><button type="button" id="button" class="btn btn-lg btn-primary">Lets dive into my website</button></a>
  </div>
</div>




  <div class="container content">
    <div>
          <div id="scroll-2"></div>
          <h1 class="title">About Me</h1>
          <h3> ​Hi, I am Ferhat Kirac who is a Junior Full Stack Developer . I was born in Turkey. I earned my bachelor's degree from Ankara University with the major of Mathematics. My desire for coding started when I was a college student in 2010. I took Computer Programming with C++ programming language for 2 years. It was amazing to solve complex questions by coding the first time. When I worked as a math and STEM educator, I have been always using some software programs as a Robotics, Under Water Robot and Testing coordinator.  I have also created some math related programs and games by using Texas Instrument handheld devices. Then I decided to change my career from math educator to Software Development Engineer as a Junior Full Stack Developer. I have attended one of the best online boot camps. I have been working as a Junior Full Stack Developer in a company and I have been doing my dream job.  On the other side, I love learning new technological tools, reading, watching and playing some sports, and playing with my son. </h3>
    </div>
       <div><img class="profile" src="css\pic01.jpg"></div>
 </div>


<hr class="horizontal">

 <div class="container-fluid" id="images">
  <div class="card">
    <img class="pic1"src="css\webdev.png">
    <h3 class="pic1">front-end development tools</h3>
    <h4>HTML CSS JS</h4>
  </div>

  <div class="card">
    <img class="pic1"src="css\backend.png">
    <h3 class="pic1">back-end development tools</h3>
    <h4>NodeJS jquery DOM Express EJS API ReactJS MongoDB Mongoose </h4>
  </div>


  <div class="card">
      <img class="pic1"src="css\resume.png">
    <a href="css\Ferhat_Kirac_Resume_Developer.docx">
      <h3 class="pic1 resume">resume</h3>
    </a>
    <div class="resume"><h4>You may know about me more by seeing my resume.</h4></div>
  </div>



 </div>


<link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
</div>
</body>
</html>
